USE [master]
GO
/****** Object:  Database [TMS]    Script Date: 12/15/2022 11:09:38 PM ******/
CREATE DATABASE [TMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TMS.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TMS_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TMS]
GO
/****** Object:  User [usertms]    Script Date: 12/15/2022 11:09:38 PM ******/
CREATE USER [usertms] FOR LOGIN [usertms] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [usertms]
GO
/****** Object:  Table [dbo].[Rolemaster]    Script Date: 12/15/2022 11:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rolemaster](
	[Roleid] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NULL,
	[IsAdmin] [int] NULL,
	[createdate] [datetime] NULL,
	[modifydate] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_activity]    Script Date: 12/15/2022 11:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_activity](
	[activityid] [int] IDENTITY(1,1) NOT NULL,
	[activityname] [nvarchar](500) NOT NULL,
	[activitydescription] [nvarchar](2000) NULL,
	[isactive] [bit] NULL,
	[createddate] [datetime] NULL,
	[modifydate] [datetime] NULL,
 CONSTRAINT [PK_tbl_activity] PRIMARY KEY CLUSTERED 
(
	[activityid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_assignmentItems]    Script Date: 12/15/2022 11:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_assignmentItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[activityid] [int] NULL,
	[taskid] [int] NULL,
	[subtaskid] [int] NULL,
	[Remark] [nvarchar](500) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_RemarkAssignment]    Script Date: 12/15/2022 11:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_RemarkAssignment](
	[Id] [int] NULL,
	[AssigmentitemId] [int] NULL,
	[empid] [int] NULL,
	[StartDate] [datetime] NULL,
	[HandOverDate] [datetime] NULL,
	[Status] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_status]    Script Date: 12/15/2022 11:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_status](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](150) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_subtask]    Script Date: 12/15/2022 11:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_subtask](
	[subtaskid] [int] IDENTITY(1,1) NOT NULL,
	[subtaskname] [nvarchar](50) NULL,
	[subtaskdescription] [nvarchar](50) NULL,
	[isactive] [bit] NULL,
	[createddate] [datetime] NULL,
	[modifydate] [datetime] NULL,
	[taskid] [int] NULL,
	[activityid] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_subtask_old]    Script Date: 12/15/2022 11:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_subtask_old](
	[subtaskid] [int] IDENTITY(1,1) NOT NULL,
	[subtaskname] [nvarchar](50) NULL,
	[subtaskdescription] [nvarchar](50) NULL,
	[isactive] [bit] NULL,
	[createddate] [datetime] NULL,
	[modifydate] [datetime] NULL,
	[taskid] [int] NULL,
	[activityid] [int] NULL,
 CONSTRAINT [PK_tbl_subtask] PRIMARY KEY CLUSTERED 
(
	[subtaskid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_task]    Script Date: 12/15/2022 11:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_task](
	[taskid] [int] IDENTITY(1,1) NOT NULL,
	[taskname] [nvarchar](50) NULL,
	[taskdescription] [nvarchar](50) NULL,
	[isactive] [bit] NULL,
	[createddate] [datetime] NULL,
	[modifydate] [datetime] NULL,
	[activityid] [int] NULL,
 CONSTRAINT [PK_tbl_task] PRIMARY KEY CLUSTERED 
(
	[taskid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_taskgroup]    Script Date: 12/15/2022 11:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_taskgroup](
	[task_id] [int] IDENTITY(1,1) NOT NULL,
	[task_Name] [nvarchar](500) NULL,
	[task_Des] [nvarchar](2000) NULL,
	[isactive] [bit] NULL,
	[Createddate] [datetime] NULL,
	[Modifydate] [datetime] NULL,
 CONSTRAINT [PK_tbl_taskgroup] PRIMARY KEY CLUSTERED 
(
	[task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 12/15/2022 11:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMaster](
	[EmpName] [nvarchar](500) NULL,
	[Roleid] [int] NULL,
	[Password] [nvarchar](500) NULL,
	[Createddate] [datetime] NULL,
	[Modifydate] [datetime] NULL,
	[Isactive] [bit] NULL,
	[empid] [nvarchar](50) NOT NULL,
	[Remark] [nvarchar](500) NULL,
	[Email] [nvarchar](500) NULL,
	[Pic] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserMaster] PRIMARY KEY CLUSTERED 
(
	[empid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[View_SubtaskRelateTaskandActivity]    Script Date: 12/15/2022 11:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_SubtaskRelateTaskandActivity]
AS
SELECT        dbo.tbl_subtask.subtaskid, dbo.tbl_activity.activityname, dbo.tbl_task.taskname, dbo.tbl_subtask.subtaskname, dbo.tbl_subtask.subtaskdescription, dbo.tbl_subtask.isactive, dbo.tbl_subtask.taskid, 
                         dbo.tbl_subtask.activityid
FROM            dbo.tbl_subtask INNER JOIN
                         dbo.tbl_task ON dbo.tbl_subtask.taskid = dbo.tbl_task.taskid INNER JOIN
                         dbo.tbl_activity ON dbo.tbl_subtask.activityid = dbo.tbl_activity.activityid
WHERE        (dbo.tbl_activity.isactive = 1)

GO
/****** Object:  View [dbo].[View_assignmentItems]    Script Date: 12/15/2022 11:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_assignmentItems]
AS
SELECT        dbo.tbl_assignmentItems.Id, dbo.View_SubtaskRelateTaskandActivity.activityname, dbo.View_SubtaskRelateTaskandActivity.taskname, dbo.View_SubtaskRelateTaskandActivity.subtaskname, dbo.tbl_assignmentItems.Remark, 
                         dbo.View_SubtaskRelateTaskandActivity.activityid, dbo.View_SubtaskRelateTaskandActivity.taskid, dbo.View_SubtaskRelateTaskandActivity.subtaskid, dbo.View_SubtaskRelateTaskandActivity.isactive
FROM            dbo.View_SubtaskRelateTaskandActivity INNER JOIN
                         dbo.tbl_assignmentItems ON dbo.View_SubtaskRelateTaskandActivity.activityid = dbo.tbl_assignmentItems.activityid AND dbo.View_SubtaskRelateTaskandActivity.taskid = dbo.tbl_assignmentItems.taskid AND 
                         dbo.View_SubtaskRelateTaskandActivity.subtaskid = dbo.tbl_assignmentItems.subtaskid

GO
/****** Object:  View [dbo].[View_AssignTask]    Script Date: 12/15/2022 11:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_AssignTask]
AS
SELECT        dbo.tbl_assignmentItems.Id, dbo.View_SubtaskRelateTaskandActivity.activityname, dbo.View_SubtaskRelateTaskandActivity.taskname, dbo.View_SubtaskRelateTaskandActivity.subtaskname, dbo.tbl_assignmentItems.Remark, 
                         dbo.View_SubtaskRelateTaskandActivity.activityid, dbo.View_SubtaskRelateTaskandActivity.taskid, dbo.View_SubtaskRelateTaskandActivity.subtaskid, dbo.View_SubtaskRelateTaskandActivity.isactive
FROM            dbo.View_SubtaskRelateTaskandActivity INNER JOIN
                         dbo.tbl_assignmentItems ON dbo.View_SubtaskRelateTaskandActivity.activityid = dbo.tbl_assignmentItems.activityid AND dbo.View_SubtaskRelateTaskandActivity.taskid = dbo.tbl_assignmentItems.taskid AND 
                         dbo.View_SubtaskRelateTaskandActivity.subtaskid = dbo.tbl_assignmentItems.subtaskid

GO
/****** Object:  View [dbo].[Userdetails]    Script Date: 12/15/2022 11:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Userdetails]
AS
SELECT        dbo.Rolemaster.RoleName, dbo.Rolemaster.IsAdmin, dbo.UserMaster.Password, dbo.UserMaster.Createddate, dbo.UserMaster.Modifydate, dbo.UserMaster.Pic, dbo.UserMaster.Email, dbo.UserMaster.Remark, 
                         dbo.UserMaster.empid, dbo.UserMaster.Isactive, dbo.UserMaster.EmpName, dbo.Rolemaster.Roleid
FROM            dbo.UserMaster INNER JOIN
                         dbo.Rolemaster ON dbo.UserMaster.Roleid = dbo.Rolemaster.Roleid



GO
/****** Object:  View [dbo].[View_taskrelateactivity]    Script Date: 12/15/2022 11:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_taskrelateactivity]
AS
SELECT        dbo.tbl_task.taskid, dbo.tbl_activity.activityname, dbo.tbl_task.taskname, dbo.tbl_task.taskdescription, dbo.tbl_task.isactive, dbo.tbl_activity.activityid
FROM            dbo.tbl_activity INNER JOIN
                         dbo.tbl_task ON dbo.tbl_activity.activityid = dbo.tbl_task.activityid
WHERE        (dbo.tbl_activity.isactive = 1)

GO
SET IDENTITY_INSERT [dbo].[Rolemaster] ON 

INSERT [dbo].[Rolemaster] ([Roleid], [RoleName], [IsAdmin], [createdate], [modifydate]) VALUES (1, N'Admin', 1, CAST(0x0000AF5500011CDF AS DateTime), CAST(0x0000AF5500011CDF AS DateTime))
INSERT [dbo].[Rolemaster] ([Roleid], [RoleName], [IsAdmin], [createdate], [modifydate]) VALUES (2, N'Manager', 1, CAST(0x0000AF55000133A2 AS DateTime), CAST(0x0000AF55000133A2 AS DateTime))
INSERT [dbo].[Rolemaster] ([Roleid], [RoleName], [IsAdmin], [createdate], [modifydate]) VALUES (3, N'Employee', 1, CAST(0x0000AF550001559C AS DateTime), CAST(0x0000AF550001559C AS DateTime))
SET IDENTITY_INSERT [dbo].[Rolemaster] OFF
SET IDENTITY_INSERT [dbo].[tbl_activity] ON 

INSERT [dbo].[tbl_activity] ([activityid], [activityname], [activitydescription], [isactive], [createddate], [modifydate]) VALUES (1, N'Project BAU', N'Project BAU', 1, CAST(0x0000AF6501202365 AS DateTime), CAST(0x0000AF650179097C AS DateTime))
INSERT [dbo].[tbl_activity] ([activityid], [activityname], [activitydescription], [isactive], [createddate], [modifydate]) VALUES (2, N'Knowledge Management
', N'Knowledge Management
', 1, CAST(0x0000AF6501202367 AS DateTime), CAST(0x0000AF650179BA70 AS DateTime))
INSERT [dbo].[tbl_activity] ([activityid], [activityname], [activitydescription], [isactive], [createddate], [modifydate]) VALUES (3, N'Organizational Activity
', N'Organizational Activity
', 1, CAST(0x0000AF6501202367 AS DateTime), CAST(0x0000AF650179C3D0 AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_activity] OFF
SET IDENTITY_INSERT [dbo].[tbl_assignmentItems] ON 

INSERT [dbo].[tbl_assignmentItems] ([Id], [activityid], [taskid], [subtaskid], [Remark]) VALUES (13, 1, 2, 2, N'Inc P2 INC12346')
SET IDENTITY_INSERT [dbo].[tbl_assignmentItems] OFF
SET IDENTITY_INSERT [dbo].[tbl_status] ON 

INSERT [dbo].[tbl_status] ([StatusId], [Status]) VALUES (1, N'Open')
INSERT [dbo].[tbl_status] ([StatusId], [Status]) VALUES (2, N'InProgress')
INSERT [dbo].[tbl_status] ([StatusId], [Status]) VALUES (3, N'Pending')
SET IDENTITY_INSERT [dbo].[tbl_status] OFF
SET IDENTITY_INSERT [dbo].[tbl_subtask] ON 

INSERT [dbo].[tbl_subtask] ([subtaskid], [subtaskname], [subtaskdescription], [isactive], [createddate], [modifydate], [taskid], [activityid]) VALUES (1, N'Analysis', N'Analysis', 1, CAST(0x0000AF660113ED1C AS DateTime), NULL, 1, 1)
INSERT [dbo].[tbl_subtask] ([subtaskid], [subtaskname], [subtaskdescription], [isactive], [createddate], [modifydate], [taskid], [activityid]) VALUES (2, N'Analysis', N'Analysis', 1, CAST(0x0000AF6601140A68 AS DateTime), NULL, 2, 1)
INSERT [dbo].[tbl_subtask] ([subtaskid], [subtaskname], [subtaskdescription], [isactive], [createddate], [modifydate], [taskid], [activityid]) VALUES (3, N'Analysis', N'Analysis', 1, CAST(0x0000AF6601142688 AS DateTime), NULL, 3, 1)
SET IDENTITY_INSERT [dbo].[tbl_subtask] OFF
SET IDENTITY_INSERT [dbo].[tbl_subtask_old] ON 

INSERT [dbo].[tbl_subtask_old] ([subtaskid], [subtaskname], [subtaskdescription], [isactive], [createddate], [modifydate], [taskid], [activityid]) VALUES (1, N'Analysis', N'Analysis', 1, NULL, NULL, 1, 1)
INSERT [dbo].[tbl_subtask_old] ([subtaskid], [subtaskname], [subtaskdescription], [isactive], [createddate], [modifydate], [taskid], [activityid]) VALUES (2, N'InterimChecks', N'InterimChecks', 1, NULL, NULL, 1, 1)
INSERT [dbo].[tbl_subtask_old] ([subtaskid], [subtaskname], [subtaskdescription], [isactive], [createddate], [modifydate], [taskid], [activityid]) VALUES (3, N'Review', N'Review', 1, NULL, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[tbl_subtask_old] OFF
SET IDENTITY_INSERT [dbo].[tbl_task] ON 

INSERT [dbo].[tbl_task] ([taskid], [taskname], [taskdescription], [isactive], [createddate], [modifydate], [activityid]) VALUES (1, N'IncidentManagement
', N'IncidentManagement', 1, NULL, CAST(0x0000AF65016B7A64 AS DateTime), 1)
INSERT [dbo].[tbl_task] ([taskid], [taskname], [taskdescription], [isactive], [createddate], [modifydate], [activityid]) VALUES (2, N'RequestManagement
', N'RequestManagement', 1, NULL, CAST(0x0000AF65016BBC04 AS DateTime), 1)
INSERT [dbo].[tbl_task] ([taskid], [taskname], [taskdescription], [isactive], [createddate], [modifydate], [activityid]) VALUES (3, N'ChangeManagement', N'ChangeManagement', 1, NULL, CAST(0x0000AF65016BC7BC AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tbl_task] OFF
SET IDENTITY_INSERT [dbo].[tbl_taskgroup] ON 

INSERT [dbo].[tbl_taskgroup] ([task_id], [task_Name], [task_Des], [isactive], [Createddate], [Modifydate]) VALUES (14, N'Analysis', N'Dashboard, KPI', 1, CAST(0x0000AF6501165DB8 AS DateTime), NULL)
INSERT [dbo].[tbl_taskgroup] ([task_id], [task_Name], [task_Des], [isactive], [Createddate], [Modifydate]) VALUES (15, N'Data Collection', N'Student, Client, Vendors', 1, CAST(0x0000AF6501168914 AS DateTime), NULL)
INSERT [dbo].[tbl_taskgroup] ([task_id], [task_Name], [task_Des], [isactive], [Createddate], [Modifydate]) VALUES (16, N'Followups', N'Payment Followups,etc', 1, CAST(0x0000AF650116C604 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tbl_taskgroup] OFF
INSERT [dbo].[UserMaster] ([EmpName], [Roleid], [Password], [Createddate], [Modifydate], [Isactive], [empid], [Remark], [Email], [Pic]) VALUES (N'Naman', 1, N'+y+qq+9ALYkDwfLT4r/UnKPH5aZCxyLrlMGq5WQyJVc=', CAST(0x0000AF5D001CF9F8 AS DateTime), CAST(0x0000AF5D002A3000 AS DateTime), 1, N'111111', N'Manage Activity', N'Naman@nttdata.com', N'111111.jpg')
INSERT [dbo].[UserMaster] ([EmpName], [Roleid], [Password], [Createddate], [Modifydate], [Isactive], [empid], [Remark], [Email], [Pic]) VALUES (N'Karan', 3, N'FkkBmgtFtuhebgbtOmKo+Mm6z24oOelD75adKL6f9ak=', CAST(0x0000AF5C016F4388 AS DateTime), NULL, 1, N'123456', N'Manage', N'karan@nttdata.com', N'')
INSERT [dbo].[UserMaster] ([EmpName], [Roleid], [Password], [Createddate], [Modifydate], [Isactive], [empid], [Remark], [Email], [Pic]) VALUES (N'Rajesh', 1, N'yodXgNYCdvUm1YFnoosc9EtMZvifUFLV5rdrb23Xq9E=', CAST(0x0000AF55000F4C68 AS DateTime), CAST(0x0000AF6A00D7D840 AS DateTime), 1, N'184877', N'Admin and SOM Activity', N'184877@nttdata.com', N'184877.jpg')
ALTER TABLE [dbo].[Rolemaster] ADD  CONSTRAINT [DF_Rolemaster_createdate]  DEFAULT (getdate()) FOR [createdate]
GO
ALTER TABLE [dbo].[Rolemaster] ADD  CONSTRAINT [DF_Rolemaster_modifydate]  DEFAULT (getdate()) FOR [modifydate]
GO
ALTER TABLE [dbo].[tbl_subtask_old]  WITH CHECK ADD  CONSTRAINT [FK_tbl_subtask_tbl_task] FOREIGN KEY([taskid])
REFERENCES [dbo].[tbl_task] ([taskid])
GO
ALTER TABLE [dbo].[tbl_subtask_old] CHECK CONSTRAINT [FK_tbl_subtask_tbl_task]
GO
ALTER TABLE [dbo].[tbl_task]  WITH CHECK ADD  CONSTRAINT [FK_tbl_task_tbl_activity] FOREIGN KEY([activityid])
REFERENCES [dbo].[tbl_activity] ([activityid])
GO
ALTER TABLE [dbo].[tbl_task] CHECK CONSTRAINT [FK_tbl_task_tbl_activity]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[23] 4[5] 2[41] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "UserMaster"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 228
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "Rolemaster"
            Begin Extent = 
               Top = 6
               Left = 335
               Bottom = 191
               Right = 509
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 14
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Userdetails'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Userdetails'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[52] 4[5] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "View_SubtaskRelateTaskandActivity"
            Begin Extent = 
               Top = 10
               Left = 295
               Bottom = 256
               Right = 483
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_assignmentItems"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 199
               Right = 227
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 14
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 2025
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_assignmentItems'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_assignmentItems'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[52] 4[5] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "View_SubtaskRelateTaskandActivity"
            Begin Extent = 
               Top = 10
               Left = 295
               Bottom = 256
               Right = 483
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_assignmentItems"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 199
               Right = 227
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 14
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 2025
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_AssignTask'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_AssignTask'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[5] 2[16] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_activity"
            Begin Extent = 
               Top = 105
               Left = 576
               Bottom = 326
               Right = 762
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_task"
            Begin Extent = 
               Top = 0
               Left = 808
               Bottom = 228
               Right = 978
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_subtask"
            Begin Extent = 
               Top = 1
               Left = 143
               Bottom = 213
               Right = 331
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_SubtaskRelateTaskandActivity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_SubtaskRelateTaskandActivity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[32] 4[5] 2[19] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_activity"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 261
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_task"
            Begin Extent = 
               Top = 6
               Left = 262
               Bottom = 268
               Right = 432
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 2730
         Width = 2985
         Width = 4095
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_taskrelateactivity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_taskrelateactivity'
GO
USE [master]
GO
